<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Security Camera Detection Alert</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    </head>
    <body style="margin:0; padding:0; background-color:#F2F2F2;">
        <table width="100%" border="0" cellpadding="0" bgcolor="#F2F2F2">
            <tr>
                <td align="center" valign="top">
                    <strong>ALERT</strong>
                </td>
            </tr>
            <tr>
                <td align="center" valign="top">
                    <p>At {{ time_stamp }} your security camera system was activated.</p>
                    <p>The culprit was measured to be {{ distance }} CM away from your camera.</p>
                    <p>Attached to this email is a snapshot of the subject in question.</p>
                </td>
            </tr>
        </table>
    </body>
</html>